<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="Main.css">
        <title>Nossos Esportes</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                background-color: #1c3e5a;
            }

            h1 {
                font-size: 1.2em;
                margin-bottom: 5px;
                color: white;
            }

            p {
                font-size: 1em;
                line-height: 1.4;
            }
        </style>
    </head>
    <body>
            <div class="grid-container">
                <!-- Repetir o container 12 vezes para criar 6 por 2 -->
                <div class="container">
                    <div class="image-container">
                        <img src="assets/Futebol.jpg" alt="futebol"/>

                    </div>
                    <div class="text-container">
                        <h1>Futebol</h1>
                        <p>Texto descritivo da imagem 1.</p>
                    </div>
                </div>

                <div class="container">
                    <div class="image-container">
                        <img src="assets/baskete.jpg" alt="baskete">
                    </div>

                    <div class="text-container">
                        <h1>Basquetebol</h1>
                        <p>Texto descritivo da imagem 2.</p>
                    </div>
                </div>

                <div class="container">
                    <div class="image-container">
                        <img src="assets/Natacao.jpg" alt="natacao">
                    </div>

                    <div class="text-container">
                        <h1>Natação</h1>
                        <p>Texto descritivo da imagem 3.</p>
                    </div>
                </div>

                <div class="container">
                    <div class="image-container">
                        <img src="assets/Tenis.jpg" alt="tenis">
                    </div>

                    <div class="text-container">
                        <h1>Tênis</h1>
                        <p>Texto descritivo da imagem 4.</p>
                    </div>
                </div>

                <div class="container">
                    <div class="image-container">
                        <img src="assets/Voley.jpg" alt="voley">
                    </div>

                    <div class="text-container">
                        <h1>Vôlei</h1>
                        <p>Texto descritivo da imagem 5.</p>
                    </div> 
                </div>

                <div class="container">
                    <div class="image-container">
                        <img src="assets/Judo.jpg" alt="judo">
                    </div>

                    <div class="text-container">
                        <h1>Judo</h1>
                        <p>Texto descritivo da imagem 6.</p>
                    </div>
                </div>
                </body>
                </html>



